REACT_APP_UPLOAD_SERVICE_ENDPOINT = http://localhost:8000/
REACT_APP_INSIGHTS_SERVICE_ENDPOINT = http://localhost:9000/
REACT_APP_MONITOR_SERVICE_ENDPOINT = http://localhost:8999/
REACT_APP_EMAILJS_SERVICE_ID=your_service_id
REACT_APP_EMAILJS_TEMPLATE_ID=your_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_public_key
